@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width:1200px;
    margin:0px auto;
}
.heading{
    text-align: center;
    padding: 10px 0px;
    background-color: #ababab;
}
.about-me{
    border:3px solid black;
    padding:10px;
}
.about-lily{
    border:3px solid black;
    padding:10px;
}
.marginbotm{
    margin-bottom:40px;
}
section > h3{
    text-transform: uppercase;
}