body{
    font-family: Arial, Helvetica, sans-serif;
}
/* one utility class is used to do only one thing only eg. text-red is used to change only text color. */

/* eg. we doesn't change(prefer) color and background in same utility class simultaneously. */
/* "text-red", "text-green" and "bg-dark" are utility classes */
.text-red{
    color: red;
}
.text-green{
    color: green;
}
.bg-dark{
    color: #555;
}