@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,*::after,*::before{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

html{
    font-size: 62.25%;
}

body{
    font-family: 'Roboto', sans-serif;
}


/* ---------------------------- Hamburger-Menu ---------------------------- */
.hamburger-menu{
    position: relative;
}

.hamburger-menu>input[type="checkbox"]{
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 1rem;
    left: 3rem;
    z-index: 5;
    opacity: 0;
}

.hamburger-lines{
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 1rem;
    left: 3rem;
    z-index: 2;
}

.hamburger-lines{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger-lines .line{
    height: 0.3rem;
    background: black;
    border-radius: 1rem;
}

.menu-item{
    list-style: none;
    background: white;
    max-width: 20rem;
    padding-top: 6rem ;
    padding-left: 3rem;
    height: 100vh;
    box-shadow: .25rem 0 1rem #999;
    position: relative;
    transform: translate(-110%);
    transition: transform 250ms ease-out;
    opacity: 0;
}
.menu-items{
    padding-bottom: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.hamburger-menu input[type="checkbox"]:checked ~ .menu-item{
    transform: translate(0%);
    opacity: 1;
}
.hamburger-lines .line1{
    transform-origin: 0% 0%;
    transition: transform 250ms ease-in-out;
}
.hamburger-lines .line3{
    transform-origin: 0% 100%;
    transition: transform 250ms ease-in-out;
}
.hamburger-menu input[type="checkbox"]:checked ~ .hamburger-lines .line1{
    transform: rotate(40deg);
    width: 140%;
}
.hamburger-menu input[type="checkbox"]:checked ~ .hamburger-lines .line2{
    display: none;
}
.hamburger-menu input[type="checkbox"]:checked ~ .hamburger-lines .line3{
    transform: rotate(-40deg);
    transition: transform 250ms ease-in-out;
    width: 140%;
}