/* [attribute=value] : [target="_blank"] : Selects all elements with target="_blank" */
[type="text"]{
    color: red;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="password"]{
    background-color:pink;
}

/* a[href="https://Google.co.in"]{
    color: red;
} */

/* [attribute*=value] : a[href*="google"] : Selects every <a> element whose href attribute value contains the substring "google" */
/* a[href*="google"]{
    color: red;
} */

/* "^"-> caret symbol */
/* [attribute^=value] : a[href^="https"] : Selects every <a> element whose href attribute value begins with "https" */
/* a[href^="https"]{
    color: green;
} */

/* [attribute$=value] : a[href$=".com"] : Selects every <a> element whose href attribute value ends with ".com" */
a[href$=".com"]{
    color: rgb(244, 13, 140);
}