/* By default, the width and height of an element is calculated like this:

width + padding + border = actual width of an element
height + padding + border = actual height of an element */

/* Box-Sizing */
/* The box-sizing property allows us to include the padding 
and border in an element's total width and height. */

hr{
    width: 700px;
    margin-left: 0px;
    border: 4px solid black;
}

.box1{
    width: 700px;
    /* default value of "box-sizing" is  "content-box" */
    background-color: aqua;
    border: 10px solid red;
    padding: 20px;
    margin-bottom: 20px;
}
.box2{
    width: 700px;
    box-sizing: border-box;
    background-color: aqua;
    border: 10px solid red;
    padding: 20px;
}