*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div.container{
    border: 1px black solid;
    background-color: antiquewhite;
    margin: 10px;
    width: 800px;
    height: 500px;
    position: relative;
}
div.box{
    width: 800px;
    height: 800px;
    background-color: aquamarine;
}
img.image1{
    width: 150px;
    height: 150px;
    margin: 10px;
    /* position: absolute;
    top: 100px; */
}
img.image2{
    width: 150px;
    height: 150px;
    margin: 10px;
    /* position:relative;
    top:100px;
    left:200px; */
}
img.image3{
    width: 150px;
    height: 150px;
    margin: 10px;
    position: sticky;/* neccessary to give spacing, (top,left,right,bottom)*/
    top:100px
}
img.image4{
    width: 150px;
    height: 150px;
    margin: 10px;
    position: fixed;
}