/* '%' depend on immediate parent */
/* vh:veiw port height, 100vh means 100 percent of vh. */
/* vw:veiw port weidth, 50vw means 50 percent of vw */
/* 'em' depend on immediate parent, 10em means 10times font-size of parent(i.e if font-size of parent 10px, then font-size of child 10em=10*10px=100px). */
/* 'rem' depend on root element, 5em means 5times size of parent of that property(i.e font-size of parent 16px(default-size 16px) , then if font-size of child 5rem=16*5px=80px).  */
/* padding:5em means 5times font-size of parent*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.parent{
    border: 1px solid black;
    background-color: beige;
    width:50%;
    /* padding:11px; */
}
.child{
    border: 1px solid green;
    background-color: aqua;
    /* padding: 6em; */
    width:20%;
}
.container{
    border: 1px solid black;
    background-color: aquamarine;
    height: 100vh;
    width: 50vw;
}
.box1{
    border: 1px solid black;
    font-size: 100px;
}
.emparent{
    font-size: 10px;
}
.emchild{
    font-size: 10em;
}
.firstpara{
    font-size:5rem;
    margin-bottom: 100px;
}
/* padding:5em means 5times font-size of parent*/
.pad1{
    border: 1px solid black;
    background-color: beige;
    font-size: 25px;
    padding:11px;
}
.sub_pad1{
    border: 1px solid green;
    background-color: aqua;
    padding: 6em;
}