*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
h1{
    padding:25px;
    text-align: center;
}
.scenery{
    float:right;
    clear:both;
    padding: 10px 20px;
}
.nature1{
    /* clear:right; */
    float:right;
    padding: 10px 20px;
}
.nature2{
    float:right;
    padding: 10px 20px;
}
.box{
    border: 1px solid black;
    margin: 20px;
    /* great collapse, fixed by overflow:auto; */
    overflow: auto;
    margin-bottom: 100px;
}
.item{
    border: 1px solid black;
    background-color: aquamarine;
    width:200px;
    height:200px;
    float:left;
}
.container{
    border: 1px solid black;
    height: 500px;
    width: 500px;
    overflow:auto;
}