/* margin and padding are similar in syntax. */
/* "width" attribute is used to change width as shown below. */
/* "text-align" is used to ailgn text. */

/* Content - The content of the box, where text and images appear
Padding - Clears an area around the content. The padding is transparent
Border - A border that goes around the padding and content
Margin - Clears an area outside the border. The margin is transparent */

/* h1{
    border:4px solid brown;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:40px;
    padding-right:40px;
} */

/* "pading:40px;" will give padding of 40px in all direction(top,bottom,left and right). */
/* h1{
    border:4px solid brown;
    padding:40px;
} */

/* "pading:20px 40px;" will give padding of 20px in top and bottom, 40px in left and right */
/* h1{
    border:4px solid brown;
    padding:20px 40px;
} */

/* "padding:20px 30px 40px 50px;" will give padding of 20px in top, 30px in right, 40px in bottom, and 50px of left */
/* h1{
    border:4px solid brown;
    padding:20px 30px 40px 50px;
} */


/* h1{
    border:4px solid brown;
    padding:10px;
    margin-left:100px;
} */

/* Bottom most "margin" attribute is displayed, as they have same specificity. */
/* "margin:20px 30px 40px 50px;" will give padding of 20px in top, 30px in right, 40px in bottom, and 50px of left */
/* h1{
    border:4px solid brown;
    padding:10px;
    margin:100px;
    margin:40px 80px;
    margin:20px 30px 40px 50px;
} */


h1{
    border:10px dashed brown;
    background-color: aqua;
    padding:10px;
    margin:40px auto;
    width:500px;
    text-align:center;
}