header{
    background-color: aquamarine;
}

/* wo section jiski class hai "my-articles" wo select hojayega  */
section.my-articles{
    background-color: rgb(196, 234, 109);
}

/* "*" is a universal selector*/
/* *{
    color: blueviolet;
} */

/* color of all the paragraphs in "header" tag, will become red*/
header p{
    color: red;
}

/* color of all the "a" tags in "li" tag, will become red */
li a{
    color:rgb(202, 127, 255);
}

/* wo section jiski class hai "my-articles", uske ander 
jitne bhi "h2" hai wo select hojayenge  */
/* section.my-articles h2{
    color: rgb(159, 218, 32);
} */

/* wo section jiski class hai "my-articles", uske ander jitne  
bhi direct "h2" (child) hai wo select hojayenge  */
/* read combinators in selector to know more */
section.my-articles > h2{
    color: rgb(32, 218, 119);
}

/* the color of all the paragraphs which are "directly" after "h2" tag, will become "orangered"*/
/* h2+p{
    color:rgb(76, 21, 239);
} */

/* the color of all the paragraphs which are "directly" after "ul"(unordered list) tag, will become "gold"*/
ul+p{
    color: gold;
}

section.my-articles h2+p{
    color: rgb(32, 218, 119);
}
.Hello {
    height: 100px;
    width: 100px;
    background-color: blue;
    border:5px solid white;
}

.Hello > div{
    height: 100px;
    width: 100px;
    background-color: blue;
    border:10px solid white;
}