/* Specificity order */
/* Inline style attribute > ID selector > class selector > element selector */

/* to calculate specificity we find 4 numbers which are:*/
/* no. of incline style, no. of id selectors, no. of class selector, no. of element selector. */

/* Secificity=no. of incline style, no. of id selectors, no. of class selector */


div#container ul.my-songs li{
    color: red;
    background-color: yellow;
}
/* How to calculate specificity */
/* 0,1,1,3 --->113 (for understanding we can say that specificity=113) */

div#container ul.my-songs li.favourite{
    color:yellow;
    background-color: red;
}
/* How to calculate specificity */
/* 0,1,2,3 --->123(for understanding we can say that specificity=123) */

.favourite{
    color:yellow;
    background-color: red;
}
/* How to calculate specificity */
/* 0,0,1,0 --->10 (for understanding we can say that specificity=10)*/