h1{
    width:500px;
    text-align:right;
    background:red;
    padding-right: 10px;
}

a{
    width:500px;
    display:inline-block;
    text-align:center;
    background:lightcoral;
    padding-right: 10px;
}