@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body{
font-family: 'Roboto', sans-serif;
}

div{
    width:1400px;
    margin: 20px auto;
}

nav{
    text-align:center;
    background-color: #bbb;
    height:80px;
}

nav h3{
    color:#333;
    display:inline-block;
    margin: 23px 20px;
}

.margin_bot{
    margin-bottom:50px;
}

.underline{
    border-bottom:2px solid #777;
}
